# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
vitest-result.xml
/.vitest-attachments/
/__tests__/widget/__screenshots__/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
